Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

.lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

# Lint and format staged files prior to commit.
pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: 'npx eslint {staged_files} --fix'
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}'
      run: 'npx prettier {staged_files} --ignore-path .prettierignore --write'

photo: add spaceship earth photo to portfolio
  public/content/photos/Spaceship_Earth_20260214.jpg
Due: none

feat: add rehype-slug for improved heading management and update content metadata
  lib/content.test.ts
  lib/content.ts
  package-lock.json
  package.json
  public/content/posts/how-gain-maps-elevate-hdr-photography/content.mdx
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

rename to /health
  app/api/health/route.test.ts
  app/api/health/route.ts
  proxy.ts
Due: eslint, prettier

remove umami
  app/layout.tsx
  components/Analytics/Analytics.test.tsx
  components/Analytics/Analytics.tsx
Due: eslint, prettier

remove /fun-stuff
  app/fun-stuff/page.test.tsx
  app/fun-stuff/page.tsx
  app/sitemap.test.ts
  components/Header/Header.test.tsx
  lib/config.ts
  public/content/pages/fun-stuff/content.mdx
Due: eslint, prettier

bump target
  tsconfig.json
Due: prettier

formatting
  public/content/posts/2016-a-year-in-review/content.mdx
  public/content/posts/displaying-exif-data-in-wordpress/content.mdx
Due: prettier

bump to next 16.3
  app/robots.ts
  next.config.ts
  public/feed.xml
Due: eslint, prettier

dump nixpacks confg
  nixpacks.toml
Due: none

upgrade to ts 6 and eslint 10
  .github/workflows/assertions.yml
  eslint.config.mjs
  eslint.config.ts
  package-lock.json
  package.json
  postcss.config.ts
  prettier.config.ts
Due: eslint, prettier

Stream [slug] post content behind Suspense; add CSP, SRI, and other next.config wins
  app/[slug]/page.test.tsx
  app/[slug]/page.tsx
  lib/headers.ts
  next.config.ts
Due: eslint, prettier

add deployment id for skew protection
  next.config.ts
Due: eslint, prettier

Allow Cloudflare's Web Analytics beacon in CSP script-src
  lib/headers.ts
Due: eslint, prettier

bump mcp
  .mcp.json
Due: prettier

add webvitals attr
  next.config.ts
Due: eslint, prettier

bump agents
  AGENTS.md
Due: prettier

refactor: extract shared JsonLd component
  app/[slug]/page.tsx
  app/layout.tsx
  components/JsonLd/JsonLd.test.tsx
  components/JsonLd/JsonLd.tsx
Due: eslint, prettier

refactor: extract shared Lightbox wrapper component
  components/ArticleContent/ArticleContent.test.tsx
  components/ArticleContent/ArticleContent.tsx
  components/Lightbox/Lightbox.test.tsx
  components/Lightbox/Lightbox.tsx
Due: eslint, prettier

fix: stop leaking EXIF GPS/caption data to the PhotoGallery client bundle
  app/photos/page.tsx
  components/PhotoGallery/PhotoGallery.test.tsx
  components/PhotoGallery/PhotoGallery.tsx
Due: eslint, prettier

refactor: add render override to createStaticPage; migrate contact page
  app/contact/page.tsx
  lib/staticPage.test.tsx
  lib/staticPage.tsx
Due: eslint, prettier

refactor: extract buildBreadcrumbList helper in lib/schema.ts
  lib/schema.ts
Due: eslint, prettier
