Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

css tweaks and typescript improvements
  components/Footer/Footer.module.css
  components/Header/Header.module.css
  components/Navigation/Navigation.module.css
  components/Navigation/Navigation.tsx
  lib/api/photos.ts
  lib/api/sendEmail.ts
  lib/config.ts
  lib/functions/fetchPageBySlug.ts
  lib/functions/getCarouselImages.ts
  public/geocities/index.html
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

add m42
  public/carousel/m42-final.avif
Due: none

homepage tweaks
  app/globals.css
  app/page.tsx
  components/Footer/Footer.module.css
  components/Header/Header.module.css
  public/geocities/index.html
Due: eslint, prettier

adjust footer
  components/Footer/Footer.module.css
Due: prettier

font change
  app/globals.css
  app/layout.tsx
  app/page.tsx
  tailwind.config.ts
Due: eslint, prettier

homepage tweaks
  app/globals.css
  app/page.tsx
  components/Footer/Footer.module.css
  components/Header/Header.module.css
Due: eslint, prettier

use route groups
  app/(default)/[slug]/page.tsx
  app/(default)/blog/[slug]/page.tsx
  app/(default)/blog/page.tsx
  app/(default)/contact/page.tsx
  app/(default)/layout.tsx
  app/(default)/not-found.tsx
  app/(default)/photos/page.tsx
  app/(default)/preview/[id]/page.tsx
  app/(default)/search/page.tsx
  app/(home)/globals.css
  app/(home)/layout.tsx
  app/(home)/page.tsx
  app/globals.css
  app/page.tsx
  components/Carousel/Carousel.tsx
  components/HomePage/HomePage.module.css
  components/HomePage/HomePage.tsx
  components/Navigation/Navigation.module.css
  components/Navigation/Navigation.tsx
Due: eslint, prettier

readme bump
  README.md
Due: prettier

update flickr link. update wording
  README.md
Due: prettier

update flickr link
  README.md
Due: prettier

update bio
  README.md
  components/HomePage/HomePage.tsx
  lib/config.ts
Due: eslint, prettier

adjust spacing
  components/HomePage/HomePage.module.css
Due: prettier

move root globals.css. animations. aria hidden
  app/(default)/globals.css
  app/(default)/layout.tsx
  components/ArticleCard/ArticleCard.module.css
  components/BackToTop/BackToTop.module.css
  components/Blocks/Blocks.module.css
  components/Byline/Byline.module.css
  components/Carousel/Carousel.module.css
  components/CommentForm/CommentForm.module.css
  components/Comments/Comments.module.css
  components/ContactForm/ContactForm.module.css
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
  components/Header/Header.module.css
  components/HomePage/HomePage.module.css
  components/HomePage/HomePage.tsx
  components/Navigation/Navigation.module.css
  components/Portfolio/Portfolio.module.css
  components/Search/Search.module.css
  components/SocialLinks/SocialLinks.module.css
  tailwind.config.ts
Due: eslint, prettier

analytics
  app/(default)/layout.tsx
  app/(home)/layout.tsx
  package-lock.json
  package.json
Due: eslint, prettier

spacing and shadow tweaks. update footer text. update homepage for mobile
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
  components/Header/Header.module.css
  components/HomePage/HomePage.module.css
  components/HomePage/HomePage.tsx
  components/SocialLinks/SocialLinks.module.css
Due: eslint, prettier

add photo link and update desc
  lib/config.ts
Due: eslint, prettier

increase animation length
  tailwind.config.ts
Due: eslint, prettier

get bio from wordpress
  components/HomePage/HomePage.module.css
  components/HomePage/HomePage.tsx
  lib/api/bio.ts
Due: eslint, prettier

pass in bio
  app/(home)/page.tsx
Due: eslint, prettier

bump geocities
  public/geocities/index.html
  public/geocities/picard-data.jpg
Due: prettier

remove p and comment
  components/Comments/Comments.tsx
Due: eslint, prettier

remove icons
  components/Portfolio/Portfolio.module.css
  components/Portfolio/Portfolio.tsx
Due: eslint, prettier

update copyright
  app/feed.xml/route.ts
Due: eslint, prettier

standardize <article>. update text
  app/(default)/[slug]/page.tsx
  app/(default)/blog/page.tsx
  app/(default)/contact/page.tsx
  app/(default)/photos/page.tsx
  app/(default)/search/page.tsx
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}
