Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

.lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

# Lint and format staged files prior to commit.
pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: 'npx eslint {staged_files} --fix'
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}'
      run: 'npx prettier {staged_files} --ignore-path .prettierignore --write'

rename photo
  public/content/photos/Modern Cleaners_20240427.jpg
  public/content/photos/Modern_Cleaners_–_One_Hour,_Frozen_in_Time_20240427.jpg
Due: none

feat: update PhotoCard to use <img> instead of <Image> and enhance PhotoGallery Fancybox configurationinitial commit
  components/PhotoCard/PhotoCard.tsx
  components/PhotoGallery/PhotoGallery.tsx
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

feat: enhance photo captions. fix table heading background
  components/ArticleContent/ArticleContent.module.css
  lib/utils.test.ts
  lib/utils.ts
Due: eslint, prettier

re-export some photos
  public/content/photos/Downy_Woodpecker_–_Backyard_Visitor_20211103.jpg
  public/content/photos/Eastern_Bluebird_20220702.jpg
  public/content/photos/Emma_and_Jordyn_20200613.jpg
  public/content/photos/Great_Egret_–_Still_and_Silent_20221207.jpg
  public/content/photos/Millennium_Falcon-_Smugglers_Run_20201209.jpg
  public/content/photos/Reflections_of_Purple_–_Winter_Sunrise_Stillness_20211103.jpg
  public/content/photos/Sunset_Around_The_Bend_20220828.jpg
  public/content/photos/Tiny_Bob_–_Ruby-Throated_Hummingbird_20220325.jpg
  public/content/photos/Tracks_at_Dawn_20201230.jpg
  public/content/photos/Train_Tracks_at_Dawn_20201230.jpg
Due: none

feat: refactor PhotoGallery layout to use flexbox for responsive columns
  components/PhotoGallery/PhotoGallery.module.css
  components/PhotoGallery/PhotoGallery.tsx
Due: eslint, prettier

feat: add canonical alternates to metadata for SEO optimization
  app/[slug]/page.tsx
  app/about/page.tsx
  app/category/[category]/page.tsx
  app/contact/page.tsx
  app/fun-stuff/page.tsx
  app/layout.tsx
  app/page.tsx
  app/photos/page.tsx
  app/resume/page.tsx
  app/tag/[tag]/page.tsx
Due: eslint, prettier

feat: add 301 redirects for legacy WordPress URLs and Atom feed
  lib/redirects.ts
Due: eslint, prettier

fix: update to in send
  app/contact/actions.ts
Due: eslint, prettier

add health check route
  app/api/healthcheck/route.ts
Due: eslint, prettier

test: add unit tests for API routes in healthcheck and axiom
  app/api/axiom/route.test.ts
  app/api/healthcheck/route.test.ts
Due: eslint, prettier

feat: enhance proxy middleware with logging and noise route filtering; add unit tests
  proxy.test.ts
  proxy.ts
Due: eslint, prettier

feat: update sitemap generation to include dynamic navigation entries with priorities
  app/sitemap.test.ts
  app/sitemap.ts
  lib/config.ts
Due: eslint, prettier

feat: reimagine photo gallery and lightbox
  app/photos/page.test.tsx
  components/ArticleContent/ArticleContent.module.css
  components/ArticleContent/ArticleContent.test.tsx
  components/ArticleContent/ArticleContent.tsx
  components/PhotoCard/PhotoCard.module.css
  components/PhotoCard/PhotoCard.test.tsx
  components/PhotoCard/PhotoCard.tsx
  components/PhotoGallery/PhotoGallery.module.css
  components/PhotoGallery/PhotoGallery.test.tsx
  components/PhotoGallery/PhotoGallery.tsx
  lib/hooks/useFancyBox/useFancybox.test.tsx
  lib/hooks/useFancyBox/useFancybox.ts
  lib/hooks/useLightbox/useLightbox.test.tsx
  lib/hooks/useLightbox/useLightbox.ts
  lib/utils.test.ts
  lib/utils.ts
  package-lock.json
  package.json
Due: eslint, prettier

docs: update guidelines to emphasize reading Next.js documentation before coding
  .agents/skills/next-cache-components/SKILL.md
  AGENTS.md
Due: prettier

feat: update content fetching methods to use async/await for improved performance and caching
  app/[slug]/page.test.tsx
  app/[slug]/page.tsx
  app/category/[category]/page.test.tsx
  app/category/[category]/page.tsx
  app/contact/page.test.tsx
  app/layout.tsx
  app/page.test.tsx
  app/page.tsx
  app/sitemap.test.ts
  app/sitemap.ts
  app/tag/[tag]/page.test.tsx
  app/tag/[tag]/page.tsx
  components/Footer/Footer.test.tsx
  components/Footer/Footer.tsx
  components/PostCard/PostCard.module.css
  components/PostCard/PostCard.tsx
  lib/content.test.ts
  lib/content.ts
  lib/photos.test.ts
  lib/photos.ts
  next.config.ts
Due: eslint, prettier

feat: add reference and skill documentation for improving codebase architecture
  .agents/skills/improve-codebase-architecture/REFERENCE.md
  .agents/skills/improve-codebase-architecture/SKILL.md
Due: prettier

feat: implement GitHub issue handling
  .agents/skills/implement-github-issue/SKILL.md
Due: prettier

feat: enhance code review skill with detailed agent instructions and process improvements
  .agents/skills/code-review/SKILL.md
Due: prettier

feat: refactor metadata handling and implement caching for content retrieval. fixes #156
  app/[slug]/page.test.tsx
  app/[slug]/page.tsx
  app/about/page.test.tsx
  app/about/page.tsx
  app/contact/page.test.tsx
  app/contact/page.tsx
  app/fun-stuff/page.test.tsx
  app/fun-stuff/page.tsx
  app/resume/page.test.tsx
  app/resume/page.tsx
  lib/content.ts
  lib/metadata.test.ts
  lib/metadata.ts
  lib/staticPage.tsx
Due: eslint, prettier

feat: implement resolveFeaturedImage utility and update Article component to use it. fixes #157
  components/Article/Article.test.tsx
  components/Article/Article.tsx
  lib/utils.test.ts
  lib/utils.ts
Due: eslint, prettier

feat: update project documentation and code standards, including new logging and caching guidelines
  .agents/instructions/code-standards.instructions.md
  .agents/skills/implement-github-issue/SKILL.md
  .agents/skills/update-instructions/SKILL.md
  AGENTS.md
Due: prettier

feat: enhance contact form functionality with Mailgun integration and service validation. fixes #158
  app/contact/actions.test.ts
  app/contact/actions.ts
  components/ContactForm/ContactForm.tsx
  lib/services.test.ts
  lib/services.ts
Due: eslint, prettier

feat: add build step after validation in code review process
  .agents/skills/code-review/SKILL.md
Due: prettier

feat: implement FilteredPostsContent component and pagination utilities for category and tag pages. Fixes #159
  app/category/[category]/page.tsx
  app/page.tsx
  app/tag/[tag]/page.tsx
  components/FilteredPostsContent/FilteredPostsContent.test.tsx
  components/FilteredPostsContent/FilteredPostsContent.tsx
  lib/pagination.test.ts
  lib/pagination.ts
Due: eslint, prettier

feat: implement RSS feed generation with buildFeedXml function and related tests. Fixes #160
  lib/config.ts
  lib/feed.test.ts
  lib/feed.ts
  scripts/generate-feed.ts
Due: eslint, prettier

feat: add getAdjacentPosts function to retrieve previous and next posts based on slug. Fixes #161
  app/[slug]/page.tsx
  lib/content.test.ts
  lib/content.ts
Due: eslint, prettier

feat: update code standards and review guidelines for `dangerouslySetInnerHTML` usage and coverage requirements
  .agents/instructions/code-standards.instructions.md
  .agents/skills/code-review/SKILL.md
  .agents/skills/content-review/SKILL.md
  .agents/skills/implement-github-issue/SKILL.md
  AGENTS.md
Due: prettier

feat: optimize data fetching and improve performance in various components
  app/[slug]/page.tsx
  app/category/[category]/page.tsx
  app/contact/actions.test.ts
  app/contact/actions.ts
  app/layout.tsx
  app/page.tsx
  app/photos/page.test.tsx
  app/photos/page.tsx
  app/tag/[tag]/page.tsx
  components/Article/Article.tsx
  components/ArticleContent/ArticleContent.tsx
  components/PhotoGallery/PhotoGallery.test.tsx
  components/PhotoGallery/PhotoGallery.tsx
  components/Search/Search.tsx
  lib/content.ts
  lib/photos.ts
  lib/services.ts
  lib/utils.ts
  next.config.ts
Due: eslint, prettier

feat: Add 'use client' directive to MobileDrawer component
  components/MobileDrawer/MobileDrawer.tsx
Due: eslint, prettier

feat: add skills
  skills-lock.json
Due: prettier

feat: update code standards with new guidelines for data fetching, suspense boundaries, and performance optimizations
  .agents/instructions/code-standards.instructions.md
Due: prettier

feat: enhance image handling with figure captions and improved alignment styles
  components/ArticleContent/ArticleContent.module.css
  public/content/posts/how-gain-maps-elevate-hdr-photography/content.mdx
Due: prettier

feat: add global styles and improve article component responsiveness
  app/global.css
  app/layout.tsx
  app/theme.ts
  components/Article/Article.module.css
  components/ArticleContent/ArticleContent.module.css
Due: eslint, prettier
