Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier {staged_files} --ignore-path .prettierignore --write

allow file extensions
  next.config.ts
Due: eslint, prettier

adjust cover photo
  components/Profile/Profile.tsx
  public/cover.jpg
Due: eslint, prettier

adjust cover
  public/cover.jpg
Due: none

add preconnect
  app/layout.tsx
Due: eslint, prettier

more cover work
  components/Profile/Profile.tsx
  next.config.ts
  public/cover.jpg
Due: eslint, prettier

use preload
  components/Profile/Profile.tsx
Due: eslint, prettier

optimize react icons
  lib/utils/iconResolver.ts
  next.config.ts
Due: eslint, prettier

add verified badge
  lib/utils/iconResolver.ts
Due: eslint, prettier

add umami
  app/error.tsx
  app/layout.tsx
  components/Footer/Footer.tsx
  components/IconModal/IconModal.tsx
  components/Links/Links.tsx
  components/Profile/Profile.tsx
  components/Umami/Umami.test.tsx
  components/Umami/Umami.tsx
  components/Umami/index.ts
Due: eslint, prettier

update body styles
  app/globals.css
  app/layout.tsx
Due: eslint, prettier

update redirects
  next.config.ts
Due: eslint, prettier

update redirect
  next.config.ts
Due: eslint, prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

update link
  README.md
Due: prettier

Update resume URL in data.json
  public/data.json
Due: prettier

Fix link to Flickr in README.md
  README.md
Due: prettier

remove theme changes
  package-lock.json
  package.json
Due: prettier

configure for gh pages
  .github/workflows/deploy.yml
  next.config.ts
  public/.nojekyll
  public/data.json
Due: eslint, prettier

bump
  .github/workflows/deploy.yml
Due: prettier

update for gh pages
  app/robots.ts
  app/sitemap.ts
  next.config.ts
Due: eslint, prettier

remove contact form
  lib/utils/iconResolver.ts
  public/data.json
Due: eslint, prettier

post gh pages clean ups
  .github/copilot-instructions.md
  app/layout.tsx
  components/Umami/Umami.test.tsx
  components/Umami/Umami.tsx
  components/Umami/index.ts
  lib/utils/iconResolver.test.ts
Due: eslint, prettier

Fix personal website link in README
  README.md
Due: prettier

dependency bump
  package-lock.json
Due: prettier

dependency bump
  conf/mysql/my.cnf.hbs
  conf/nginx/includes/gzip.conf.hbs
  conf/nginx/includes/mime-types.conf.hbs
  conf/nginx/includes/restrictions.conf.hbs
  conf/nginx/includes/wordpress-multi.conf.hbs
  conf/nginx/includes/wordpress-single.conf.hbs
  conf/nginx/nginx.conf.hbs
  conf/nginx/site.conf.hbs
  conf/php/php-fpm.conf.hbs
  conf/php/php-fpm.d/www.conf.hbs
  conf/php/php.ini.hbs
  logs/nginx/error.log
  logs/php/php-fpm.log
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}
