Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

.lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

# Lint and format staged files prior to commit.
pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: 'npx eslint {staged_files} --fix'
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}'
      run: 'npx prettier {staged_files} --ignore-path .prettierignore --write'

dependency bump
  package-lock.json
  package.json
Due: prettier

remove /photos from menu
  lib/config.ts
Due: eslint, prettier

remove photos from sitemap
  app/sitemap.ts
Due: eslint, prettier

only show modified if more than 24 hours
  components/Byline/Byline.tsx
  lib/functions/isModified.ts
Due: eslint, prettier

support alignwide class from WP
  app/(default)/globals.css
Due: prettier

add button to blog
  components/HomePage/HomePage.module.css
  components/HomePage/HomePage.tsx
Due: eslint, prettier

dependency bump
  app/(home)/globals.css
  components/HomePage/HomePage.tsx
  lib/config.ts
  package-lock.json
  package.json
Due: eslint, prettier

move blog
  app/(default)/blog/[slug]/page.tsx
  app/(default)/blog/page.tsx
  app/(default)/photos/page.tsx
  app/feed.xml/route.ts
  app/sitemap.ts
  next.config.ts
Due: eslint, prettier

Update README.md
  README.md
Due: prettier

Remove duplicate content in README.md
  README.md
Due: prettier

Revise personal details and add Disney World trip
  README.md
Due: prettier

Remove HTML entities from README.md
  README.md
Due: prettier

bump
  app/(default)/blog/[slug]/page.tsx
  app/(default)/blog/page.tsx
  app/(default)/layout.tsx
  app/(default)/preview/[id]/page.tsx
  app/(home)/layout.tsx
  app/(home)/page.tsx
  components/Analytics/Analytics.test.tsx
  components/Analytics/Analytics.tsx
  components/HomePage/HomePage.tsx
  lib/api/WP_Query.ts
  lib/config.ts
  lib/functions/fetchPostBySlug.ts
  next.config.ts
  package-lock.json
  package.json
  tailwind.config.ts
Due: eslint, prettier

remove msw (for now)
  test-utils/index.ts
  test-utils/msw/browser.ts
  test-utils/msw/handlers.ts
  test-utils/msw/handlers/index.ts
  test-utils/msw/server.ts
Due: eslint, prettier

Revise README.md introduction and links
  README.md
Due: prettier

Correct capitalization of 'Software Engineer' to 'software engineer'
  README.md
Due: prettier

Revise introduction in README.md
  README.md
Due: prettier

add nixpacks
  nixpacks.toml
Due: none

not found
  app/global-not-found.tsx
  next.config.ts
Due: eslint, prettier

remove nix
  nixpacks.toml
Due: none

update default theme
  app/layout.tsx
Due: eslint, prettier

update match
  next.config.ts
Due: eslint, prettier

update matching
  next.config.ts
Due: eslint, prettier
