Repository gregrickaby/gregrickaby: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

.lefthook.yml:

$schema: 'https://json.schemastore.org/lefthook.json'

# Lint and format staged files prior to commit.
pre-commit:
  commands:
    eslint:
      glob: '*.{js,jsx,ts,tsx}'
      run: 'npx eslint {staged_files} --fix'
    prettier:
      glob: '*.{js,jsx,ts,tsx,css,html,json,md,mdx,yml,graphql}'
      run: 'npx prettier {staged_files} --ignore-path .prettierignore --write'

dependency bump
  package-lock.json
Due: prettier

dependency bump
  package-lock.json
  package.json
Due: prettier

update assertions
  .github/workflows/assertions.yml
  .github/workflows/deploy.yml
Due: prettier

refactor workflow: clean up formatting and remove unnecessary steps
  .github/workflows/assertions.yml
Due: prettier

add Analytics component and tests for conditional rendering
  app/layout.tsx
  components/Analytics/Analytics.test.tsx
  components/Analytics/Analytics.tsx
Due: eslint, prettier

add 301 redirects
  next.config.ts
Due: eslint, prettier

address pagespeed insight findings
  app/theme.ts
  components/Article/Article.tsx
  components/Header/Header.test.tsx
  components/Header/Header.tsx
  components/PostCard/PostCard.test.tsx
  components/PostCard/PostCard.tsx
  components/PostList/PostList.tsx
Due: eslint, prettier

add project guidelines and architecture documentation
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier

refactor(next.config.ts): remove unused image and experimental settings
  next.config.ts
Due: eslint, prettier

feat: enhance and refine styles
  app/category/[category]/page.tsx
  app/tag/[tag]/page.tsx
  app/theme.ts
  components/AppLink/AppLink.module.css
  components/AppLink/AppLink.tsx
  components/Article/Article.module.css
  components/ArticleContent/ArticleContent.module.css
  components/ContactForm/ContactForm.tsx
  components/Footer/Footer.module.css
  components/Header/Header.module.css
  components/Header/Header.tsx
  components/MobileDrawer/MobileDrawer.test.tsx
  components/MobileDrawer/MobileDrawer.tsx
  components/NavLinks/NavLinks.module.css
  components/NavLinks/NavLinks.test.tsx
  components/NavLinks/NavLinks.tsx
  components/PostCard/PostCard.module.css
  components/PostNavigation/PostNavigation.module.css
  components/ScrollToTop/ScrollToTop.tsx
Due: eslint, prettier

optimize agent files
  .agents/instructions/code-standards.instructions.md
  .agents/instructions/writing-style.instructions.md
  .agents/skills/code-review/SKILL.md
  .agents/skills/content-review/SKILL.md
  .github/instructions/code-standards.instructions.md
  .github/instructions/writing-style.instructions.md
  .github/prompts/code-review.prompt.md
  .github/prompts/content-review.prompt.md
  AGENTS.md
  opencode.json
Due: prettier

add jsdocs
  components/Analytics/Analytics.tsx
  components/AppLink/AppLink.tsx
  components/Article/Article.tsx
  components/ArticleContent/ArticleContent.tsx
  components/ColorSchemeToggle/ColorSchemeToggle.tsx
  components/ContactForm/ContactForm.tsx
  components/Footer/Footer.tsx
  components/Header/Header.tsx
  components/MobileDrawer/MobileDrawer.tsx
  components/NavLinks/NavLinks.tsx
  components/PostCard/PostCard.tsx
  components/PostList/PostList.tsx
  components/PostNavigation/PostNavigation.tsx
  components/PostPagination/PostPagination.tsx
  components/ScrollToTop/ScrollToTop.tsx
  components/Search/Search.tsx
  lib/config.ts
  lib/content.ts
  lib/types.ts
Due: eslint, prettier

fix: update references to ArticleContent.tsx in code standards and review guidelines
  .agents/instructions/code-standards.instructions.md
  .agents/skills/code-review/SKILL.md
  AGENTS.md
Due: prettier

fix: remove outdated code style guidelines from AGENTS.md
  AGENTS.md
Due: prettier

feat: MDX support and formatted code blocks.
  .prettierignore
  components/ArticleContent/ArticleContent.module.css
  lib/content.test.ts
  lib/content.ts
  package-lock.json
  package.json
  public/content/pages/about/content.mdx
  public/content/pages/contact/content.md
  public/content/pages/contact/content.mdx
  public/content/pages/fun-stuff/content.md
  public/content/pages/fun-stuff/content.mdx
  public/content/pages/resume/content.mdx
  public/content/posts/2016-a-year-in-review/content.mdx
  public/content/posts/2018-a-year-in-review/content.mdx
  public/content/posts/behind-the-shot-nearly-strawberry-supermoon/content.mdx
  public/content/posts/displaying-exif-data-in-wordpress/content.mdx
  public/content/posts/genesis-code-snippets/content.mdx
  public/content/posts/hello-chloe-grace/content.mdx
  public/content/posts/how-gain-maps-elevate-hdr-photography/content.mdx
  public/content/posts/how-to-install-lamp-on-ubuntu/content.mdx
  public/content/posts/microphone-shootout-behringer-b-1-vs-neumann-tlm-103/content.mdx
  public/content/posts/stable-diffusion-xl-1-0-impresses/content.mdx
  public/content/posts/the-moons-of-2023/content.mdx
  public/content/posts/using-the-golden-ratio-and-rems/content.mdx
  public/feed.xml
Due: eslint, prettier

feat: mobile enhancements
  components/Header/Header.module.css
  components/ScrollToTop/ScrollToTop.tsx
Due: eslint, prettier

fix: add word-wrap property to article content styles
  components/ArticleContent/ArticleContent.module.css
Due: prettier

feat: support external links
  components/NavLinks/NavLinks.test.tsx
  components/NavLinks/NavLinks.tsx
Due: eslint, prettier

refactor: misc clean ups and agent clarifications
  .agents/instructions/code-standards.instructions.md
  AGENTS.md
  lefthook.yml
  next.config.ts
Due: eslint, prettier

refactor: update photos links
  README.md
  public/content/pages/about/content.mdx
Due: prettier

refactor: address sonarqube issues
  lib/photos.ts
Due: eslint, prettier

fix: update content file extension from .md to .mdx in feed generation
  public/feed.xml
  scripts/generate-feed.ts
Due: eslint, prettier

refactor: enhance contact form input fields with placeholders and improved accessibility
  components/ContactForm/ContactForm.tsx
Due: eslint, prettier

add route
  next.config.ts
Due: eslint, prettier

feat: implement proxy function to manage request headers and pathname
  app/not-found.test.tsx
  app/not-found.tsx
  proxy.ts
Due: eslint, prettier

feat: integrate OpenTelemetry for tracing and enhance request headers in proxy
  app/not-found.test.tsx
  app/not-found.tsx
  instrumentation.ts
  package-lock.json
  package.json
  proxy.ts
Due: eslint, prettier

refactor: simplify NotFound component and remove unused proxy functionality
  app/not-found.test.tsx
  app/not-found.tsx
  proxy.ts
Due: eslint, prettier

feat: integrate Axiom logging and proxy functionality with request transformation
  instrumentation.ts
  lib/axiom/axiom.ts
  lib/axiom/server.ts
  package-lock.json
  package.json
  proxy.ts
Due: eslint, prettier

refactor: remove OpenTelemetry dependencies from package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier

add axiom llms.txt link
  AGENTS.md
Due: prettier

feat: integrate Axiom logging and web vitals tracking
  app/api/axiom/route.ts
  app/layout.tsx
  lib/axiom/client.ts
  package-lock.json
  package.json
Due: eslint, prettier

feat: add health check condition to logger in proxy middleware
  proxy.ts
Due: eslint, prettier

feat: implement redirects and headers configuration for legacy URLs and security policies
  lib/headers.ts
  lib/redirects.ts
  next.config.ts
Due: eslint, prettier

feat: add optimizePackageImports configuration for Mantine components
  next.config.ts
Due: eslint, prettier

feat: add image file types to .prettierignore
  .prettierignore
Due: none

feat: add image configuration to next.config.ts
  next.config.ts
Due: eslint, prettier
